/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

@font-face {
    font-family: "primeicons";
    font-display: block;
    src: url("/assets/fonts/primeicons.woff2") format("woff2"),
         url("/assets/fonts/primeicons.woff") format("woff"),
         url("/assets/fonts/primeicons.ttf") format("truetype"),
         url("/assets/fonts/primeicons.eot") format("embedded-opentype");
  }

